<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/common :: head"></head>

<body>

<div th:fragment="simplechart(chartname, title, data)" class="section">

    <div class="container">

        <div data-th-id="${chartname}"></div>

        <script data-th-inline="javascript">

            var yearlyGdps = /*[[${data}]]*/ {};
            var title = "hello";

            var formattedData = yearlyGdps.map(function (it) {
                return [it.year, it.gdpMillionsCrowns / 1000];
            });

            var chartname = /*[[${chartname}]]*/ "";

            Highcharts.chart('chartname', {
                chart: {
                    zoomType: "x"
                },
                title: {
                    text: /*[[${title}]]*/ "",
                },
                subtitle: {
                    text: document.ontouchstart === undefined ?
                        "Kliknutím a tažením přiblížíte" : "Dotekem přiblížíte"
                },
                yAxis: {
                    title: {
                        text: "Miliardy Kč"
                    }
                },
                legend: {
                    enabled: false
                },
                plotOptions: {
                    series: {
                        label: {
                            connectorAllowed: false
                        },
                    }
                },
                tooltip: {
                    pointFormat: "{point.y:.0f} miliard Kč"
                },
                series: [{
                    type: "area",
                    data: formattedData
                }],
                credits: {
                    enabled: false
                }
            });

        </script>

    </div>



</div>

</body>

</html>