<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <title>Ekonomika ČR</title>

    <link data-th-href="@{/webjars/bulma/0.8.0/css/bulma.css}" rel="stylesheet">
    <link rel="stylesheet" data-th-href="@{/webjars/font-awesome/5.12.0/css/all.css}"/>

</head>


<body>

<div th:fragment="footer">

    <footer class="footer is-full">
        <div class="content has-text-centered">
            <a href="/">
                Ekonástěnka.cz
            </a>
        </div>
    </footer>

</div>

</body>


</html>