<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/common :: head"></head>

<body>

<!-- highcharts common options -->
<div th:replace="fragments/highchartsoptions :: highchartsoptions"></div>

<!-- header -->
<div th:replace="fragments/common :: header"></div>

<!-- content -->
<section class="section">

    <div class="container" id="main" style="min-height: 450px"></div>
    <script data-th-inline="javascript">

        var myChart = echarts.init(document.getElementById('main'), 'dark');

        var rates = /*[[${rates}]]*/ {};
        var currencyCode =  /*[[${currencyCode}]]*/ {};
        var czechCurrencyCode = "CZK";
        var currencyAmount = /*[[${currencyAmount}]]*/ {};
        var title = "Graf kurzu ".concat(currencyAmount.toString(), " ", currencyCode, "/", czechCurrencyCode);
        var tooltipText = currencyCode.concat("/", czechCurrencyCode);

        var dates = rates.map(function (rate) {
            return moment(rate.date, 'YYYY-MM-DD').format("D.M.YYYY");
        })

        var data = rates.map(function (rate) {
            return rate.exchangeRate;
        })

        option = {
            tooltip: {},
            title: {
                text: title,
            },
            toolbox: {
                feature: {
                    restore: {},
                    saveAsImage: {}
                }
            },
            xAxis: {
                data: dates
            },
            yAxis: {
                type: 'value',
                name: 'Kurz',
            },
            dataZoom: [{
                type: 'inside',
                start: 0,
                end: 100
            }, {}
            ],
            series: [
                {
                    name: tooltipText,
                    type: 'line',
                    smooth: true,
                    sampling: 'average',
                    areaStyle: {
                        color: new echarts.graphic.LinearGradient(0, 0, 0, 1, [{
                            offset: 0,
                            color: '#5e92f3'
                        }, {
                            offset: 1,
                            color: '#003c8f'
                        }])
                    },
                    data: data
                }
            ]
        };

        myChart.setOption(option);
    </script>

</section>

<!-- footer -->
<div th:replace="fragments/common :: footer"></div>

</body>
</html>