<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/common :: head"></head>

<body>

<!-- highcharts common options -->
<div th:replace="fragments/highchartsoptions :: highchartsoptions"></div>

<!-- header -->
<div th:replace="fragments/common :: header"></div>

<!-- content -->
<section class="section">

    <div class="container" id="main" style="min-height: 450px"></div>
    <script data-th-inline="javascript">

        var myChart = echarts.init(document.getElementById('main'), 'dark');

        var rates = /*[[${rates}]]*/ {};
        var currencyCode =  /*[[${currencyCode}]]*/ {};
        var czechCurrencyCode = "CZK";
        var currencyAmount = /*[[${currencyAmount}]]*/ {};
        var title = "Graf kurzu ".concat(currencyAmount.toString(), " ", currencyCode, "/", czechCurrencyCode);
        var tooltipText = currencyCode.concat("/", czechCurrencyCode);

        var dates = rates.map(function (rate) {
            return moment(rate.date, 'YYYY-MM-DD').format("D.M.YYYY");
        })

        var data = rates.map(function (rate) {
            return rate.exchangeRate;
        })

        option = {
            tooltip: {
                trigger: 'axis',
                triggerOn: 'mousemove|click',
                alwaysShowContent: true,
                axisPointer: {
                    snap: true,
                    lineStyle: {
                        color: 'rgba(255,255,255,0.75)'
                    }
                }
            },
            title: {
                left: 'center',
                text: title,
            },
            toolbox: {
                feature: {
                    restore: {
                        title: 'Zrušit přiblížení'
                    },
                    saveAsImage: {
                        title: 'Uložit obrázek'
                    }
                }
            },
            xAxis: {
                data: dates
            },
            yAxis: {
                type: 'value',
                name: 'Kurz',
                nameLocation: 'center',
                nameGap: 30
            },
            grid: {
                left: '3%',
                right: '3%',
                containLabel: true
            },
            dataZoom: [{
                type: 'inside',
                start: 0,
                end: 100
            },
                {
                    handleStyle: {
                        color: '#fff',
                    }
                }
            ],
            backgroundColor: "#242424",
            series: [
                {
                    name: tooltipText,
                    type: 'line',
                    smooth: true,
                    symbol: 'circle',
                    sampling: 'average',
                    itemStyle: {
                        color: 'rgba(99,173,227,0.69)'
                    },
                    areaStyle: {
                        color: new echarts.graphic.LinearGradient(0, 0, 0, 1, [{
                            offset: 0,
                            color: 'rgba(101,160,203,0.69)'
                        }, {
                            offset: 1,
                            color: 'rgba(0,78,130,0.69)'
                        }])
                    },
                    data: data
                }
            ]
        };

        myChart.setOption(option);
    </script>

</section>

<!-- footer -->
<div th:replace="fragments/common :: footer"></div>

</body>
</html>