<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <title>Ekonomika ČR</title>
    <link data-th-href="@{/styles.css}" rel="stylesheet">
    <link rel="stylesheet" data-th-href="@{/webjars/font-awesome/5.12.0/css/all.css}"/>
</head>

<body class="has-navbar-fixed-top">

<!-- header -->
<div th:insert="fragments/header :: header"></div>

<!-- content -->
<div>

    <section class="section">

        <div class="container">

            <h1 class="title is-4">Zdroje dat</h1>

            <ul style="list-style: disc">
                <li>
                    Kurzy: <a target="_blank" rel="noopener noreferrer"
                              href="https://www.cnb.cz/cs/financni-trhy/devizovy-trh/kurzy-devizoveho-trhu/kurzy-devizoveho-trhu/">ČNB</a>
                </li>

                <li>
                    HDP: <a target="_blank" rel="noopener noreferrer"
                            href="https://www.czso.cz/csu/czso/hdp_narodni_ucty">ČSÚ</a>
                </li>


                <li>
                    Míra nezaměstnanosti: <a target="_blank" rel="noopener noreferrer"
                                             href="https://vdb.czso.cz/vdbvo2/faces/cs/index.jsf?page=vystup-objekt&z=T&f=TABULKA&skupId=426&katalog=30853&pvo=ZAM01-C&pvo=ZAM01-C&u=v413__VUZEMI__97__19#w=">ČSÚ</a>
                </li>

                <li>
                    Inflace: <a target="_blank" rel="noopener noreferrer"
                                href="https://www.czso.cz/csu/czso/mira_inflace">ČSÚ</a>
                </li>

                <li>
                    Státní dluh: <a target="_blank" rel="noopener noreferrer"
                                    href="https://www.czso.cz/csu/czso/hmu_cr">ČSÚ</a>
                </li>

            </ul>

        </div>

    </section>

</div>

<!-- footer -->
<div th:insert="fragments/footer :: footer"></div>

</body>
</html>