<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ekonomika ČR</title>
    <link data-th-href="@{/webjars/bulma/0.8.0/css/bulma.css}" rel="stylesheet">
</head>

<body>

<section class="hero is-primary is-bold">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">Denní kurzy [[${date}]]</h1>
        </div>
    </div>
</section>

<table class="table is-hoverable is-fullwidth">
    <thead>
    <th>Kód měny</th>
    <th>Název měny</th>
    <th>Množsví</th>
    <th>Kurz</th>
    </thead>
    <tbody>
    <tr data-th-each="entry : ${exchangerates}">
        <td>[[${entry.currencyCode}]]</td>
        <td>[[${entry.currencyName}]]</td>
        <td>[[${entry.amount}]]</td>
        <td>[[${entry.exchangeRate}]]</td>
    </tr>

    </tbody>
</table>

</body>
</html>