<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/common :: head"></head>

<script>

    jQuery(document).ready(function ($) {
        $(".table").click(function () {
            window.location = $(this).find('a').attr('href');
        });
    });

</script>

<body>

<!-- header -->
<div th:replace="fragments/common :: header"></div>

<!-- content -->
<section class="section has-text-centered">

    <!-- quick overview -->
    <div class="container">

        <h1 class="title is-4 is-centered">Základní přehled</h1>

        <div class="columns is-centered">

            <!-- gdp -->
            <div class="column">

                <div class="box">

                    <h1 class="title is-6">Meziroční vývoj reálného HDP</h1>

                    <p th:text="${dashboard.overview.latestGdp.year}"></p>
                    <p th:text="${#numbers.formatDecimal(dashboard.overview.latestGdp.percentChange, 0, 'COMMA', 1, 'POINT')+ '%'}"></p>

                </div>

            </div>

            <!-- inflation -->
            <div class="column">

                <div class="box">

                    <h1 class="title is-6">Meziroční inflace</h1>

                    <p>[[${dashboard.overview.inflation.month}]] [[${dashboard.overview.inflation.inflation.year}]]</p>

                    <p th:text="${#numbers.formatDecimal(dashboard.overview.inflation.inflation.valuePercent, 0, 'COMMA', 1, 'POINT') + '%'}"></p>

                </div>


            </div>

            <!-- unemployment -->
            <div class="column">

                <div class="box">

                    <h1 class="title is-6">Nezaměstnanost</h1>

                    <p th:text="${dashboard.overview.unemployment.quarter} + '. čtvrtletí ' +  ${dashboard.overview.unemployment.year}"></p>
                    <p th:text="${#numbers.formatDecimal(dashboard.overview.unemployment.unemploymentRatePercent, 0, 'COMMA', 1, 'POINT')+ '%'}"></p>

                </div>

            </div>

            <!-- exchange rate -->
            <div class="column">

                <div class="box">

                    <h1 class="title is-6">Kurzy koruny pro <span data-th-text="${dashboard.exchangeRatesDate}"></span>
                    </h1>


                    <table class="table is-hoverable is-striped is-fullwidth">

                        <thead class="title is-6">
                        <tr>
                            <th>Kód</th>
                            <th>Množsví</th>
                            <th>Kurz</th>
                        </tr>
                        </thead>

                        <tbody>
                        <tr data-th-each="entry : ${dashboard.overview.exchangeRates}">
                            <td>[[${entry.currencyCode}]]</td>
                            <td>[[${entry.amount}]]</td>
                            <td>[[${entry.exchangeRate}]] <a
                                    data-th-href="@{/kurzy/{path}(path=${entry.currencyCode})}"></a></td>
                        </tr>

                        </tbody>


                    </table>


                </div>

            </div>

        </div>

    </div>

    <br>

    <!-- real gdp 2010 prices -->
    <div th:replace="fragments/charts :: yearToMillionsSimpleChart(
    'chart_real_gdp_2010_prices',
    'Graf reálného HDP v cenách roku 2010',
    'HDP',
    ${dashboard.realGdp2010Prices})"></div>

    <!-- unemployment -->
    <div th:replace="fragments/charts :: yearToPercentageSimpleChart(
    'chart_unemployment',
    'Graf nezaměstnanosti v %',
    'Nezaměstnanost',
    ${dashboard.yearlyUnempRates})"></div>

    <!-- inflation -->
    <div th:replace="fragments/charts :: yearToPercentageSimpleChart(
    'chart_inflation',
    'Graf meziročního vývoje inflace v %',
    'Inflace',
    ${dashboard.yearlyInflationRates})"></div>

    <!-- public debt -->
    <div th:replace="fragments/charts :: yearToMillionsSimpleChart(
    'chart_public_debt',
    'Graf vývoje státního dluhu v běžných cenách',
    'Státní dluh',
    ${dashboard.publicDebt}
    )"></div>

    <!-- exchange rates -->
    <div class="container box">

        <div class="table-container">

            <h1 class="title is-4">Kurzy pro <span data-th-text="${dashboard.exchangeRatesDate}"></span></h1>

            <table class="table is-hoverable is-fullwidth is-striped">

                <thead class="title is-6">
                <tr>
                    <th>Země</th>
                    <th>Název</th>
                    <th>Kód</th>
                    <th>Množsví</th>
                    <th>Kurz</th>
                </tr>
                </thead>

                <tbody>
                <tr data-th-each="entry : ${dashboard.exchangeRates}">
                    <td>[[${entry.country}]]</td>
                    <td>[[${entry.currencyName}]]</td>
                    <td>[[${entry.currencyCode}]]</td>
                    <td>[[${entry.amount}]]</td>
                    <td>[[${entry.exchangeRate}]]<a data-th-href="@{/kurzy/{path}(path=${entry.currencyCode})}"></a>
                    </td>
                </tr>

                </tbody>


            </table>
        </div>
    </div>

</section>

<!-- footer -->
<div th:replace="fragments/common :: footer"></div>

</body>
</html>